body {
  margin: 0;
  background-color: #222;
  color: white;
}

.table-container {
  margin: 1rem;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 1rem;
}

th {
  border-top: none;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background-color: #000;
}

th,
td {
  padding: 1rem;
  text-align: left;
  min-width: 200px;
}

tr:nth-child(even) {
  background-color: #111;
}

table input,
table select {
  width: 100%;
  padding: 0.4rem 0.5rem;
  margin: 2px 0;
  display: inline-block;
  border: 0px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:invalid {
  border: 2px solid red;
}

.paginate {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button,
input,
span {
  margin: 0 0.2rem;
}

button {
  background-color: transparent;
  color: white;
}

input {
  width: 1.5rem;
}

.paginate select {
  width: 3rem;
  padding: 0.2rem;
}

.activeSort {
  color: tomato;
}

.add-btn {
  padding: 0.5rem 1rem;
  background: transparent;
  border: 2px solid rebeccapurple;
  margin: 1rem 0 0 1rem;
  cursor: pointer;
}

.form-container {
  position: fixed;
  overflow-y: auto;
  max-height: 700px;
  padding: 1rem 2rem;
  width: 95vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #efefef;
  border-radius: 15px;
  max-width: 768px;
  margin: 0 auto;
  background-color: #222;
  background-color: #000;
}

.form-container form .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}

.form-container label {
  margin-top: 1rem;
}

.form-container input,
.form-item select {
  width: 100%;
  background-color: #333;
  color: #efefef;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: rgba(255, 255, 255, 1);
}

.form-container h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.form-container input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container input[type="submit"]:hover {
  background-color: #45a049;
}

.btn-container {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}

.btn-container button {
  padding: 0.5rem 1rem;
  border: 2px solid #222;
  cursor: pointer;
  margin: 0 0.5rem;
  min-width: 100px;
}

td .icon {
  font-size: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.red {
  color: red !important;
}

.blue {
  color: blue !important;
}

.green {
  color: green !important;
}
